body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3em;
}

h1 {
  color: #00979D;
}

li {
}

#header-container {
  margin: 0 0 50px 0;
  background-color: #00979D;
}

a:link {color: black; }
a:visited {color: black;}
a:hover {color: #008184;}

a:hover
header {
  margin: 0 auto;
  max-width: 700px;
}



header h1 {
  color: #FFF;
  margin: auto;
  width:700px;
  padding: 30px 0;
}

header ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header li {
  padding: 0;
  margin: auto;
  width: 350px;
}

header li a {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}


#summary li {
  display: inline-block;
}

#github-banner {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#content-container {
  margin: 0 auto;
  padding-bottom: 50px;
  max-width: 700px;
}

#nav {
  list-style-type: none;
  padding: 0;
}

#nav li {
  padding: 2px 0 0 0;
}

#nav a, #langs a {
  color: blue;
  text-decoration: none;
}

.small-text {
  font-size: .8em;
}

.component {
  width: 220px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
